<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>首页导航</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<div class="wx_container">
    <div class="box">
        <div class="header ivu-row">
            <div class="ivu-col ivu-col-span-24">
                <div style="background-color: rgb(39, 151, 166); padding: 5px 15px;height: 50px;">
                    <div class="ivu-row">
                        <div class="ivu-col ivu-col-span-16">
                            <div class="top-logo">
                                <img th:src="@{/images/logo.png}" style="height: 40px;"></div>
                        </div>
                        <div class="ivu-col ivu-col-span-8" style="text-align: right; line-height: 45px;">
                            <div class="ivu-dropdown">
                                <div class="ivu-dropdown-rel"><a href="javascript:void(0)" style="color: rgb(255, 255, 255);">
                                    2007008
                                    <i class="ivu-icon ivu-icon-ios-arrow-down"></i></a></div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ivu-row">
            <div class="ivu-col ivu-col-span-24">
                <div style="margin-bottom: 30px;" th:each="data:${datas}">
                    <div class="nav-title" th:text="${data.navigationName}">
                        业务系统
                    </div>
                    <p slot="extra"></p>
                    <div>
                        <div class="nav-item" th:each="urls:${data.proxyVOs}" th:attr="data-href=${urls.url}" th:onclick="forward(this)">
                            <div class="nav-item-icon iconfont icon-fingerprint-line"></div>
                            <!---->
                            <div class="nav-item-content">
                                <div class="title-one" th:text="${urls.name}">信息服务平台</div>
                                <!---->
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <!---->
    </div>
</div>

</body>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">

    function forward(value) {
        let url = $(value).attr("data-href");
        window.open(url);
    }

</script>
</html>