<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>哈尔滨金融学院-登录</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="wx_container">
    <div class="login-user-bg">
        <div class="login-user-logo">
            <div class="logo">
                <img th:src="@{/images/logo.png}"/>
                <div class="tianqi"></div>
            </div>
        </div>
        <div class="login-user-title">
            <p style="color: rgb(255, 255, 255);">WEBVPN登录</p>
        </div>
        <div></div>
        <div class="ivu-card ivu-card-bordered login-user-card wx_bgimg">
            <!---->
            <!---->
            <div class="ivu-card-body">
                <div class="tip">
                    <div class="ivu-row">
                        <div class="ivu-col ivu-col-span-24"><span style="color: rgb(38, 151, 165); font-size: 20px;">温馨提示</span>
                            <div style="display: none;">
                                <div id="wx_login_container" class="wxLogin"></div><button type="button" class="wxCloseButton ivu-btn ivu-btn-default">
                                <!---->
                                <!----> <span>关闭</span>
                            </button>
                            </div>
                            <div>
                                <div class="login-user-content">
                                    <div>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;webvpn是为方便我校师生在校外访问校内资源，面向全校师生开放的vpn系统，无需安装任何插件，即可使用电脑、手机、平板电脑的设备进行访问。<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为获得更好体验建议使用360极速模式、Chrome、Firefox、Edge、Safari等浏览器。
                                    </div>
                                </div>
                                <!----><button type="button" class="casButton ivu-btn ivu-btn-primary ivu-btn-long">
                                <!---->
                                <!----> <span><a th:href="@{/index}">统一身份认证登录</a></span>
                            </button>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-user-bottom">
            <p class="copyright"></p>
        </div>
        <!---->
        <!---->
    </div>
</div>
<script>

</script>
</body>

</html>